<%- include('partials/header') %>

<h1>Welcome to the EJS Blog Page</h1>
<p>This is a simple blog page renderd using EJS templating engine.</p>
<a href="/blogs">View All Blogs</a>

<%- include('partials/footer') %>